<div local-class='container'>
  <ul>
    <LinkTo @route='organizations.repositories'>
      <li>
        Repositories
      </li>
    </LinkTo>
    <LinkTo @route='organizations.packages'>
      <li>
        Packages
      </li>
    </LinkTo>
    <LinkTo @route='organizations.people'>
      <li>
        People
      </li>
    </LinkTo>
  </ul>
</div>