<div local-class='container'>
  <ul>
    <LinkTo @route='profile.repos'>
      <li>
        Repositories
      </li>
    </LinkTo>
    <LinkTo @route='profile.packages'>
      <li>
        Packages
      </li>
    </LinkTo>
    <LinkTo @route='profile.people'>
      <li>
        People
      </li>
    </LinkTo>
  </ul>
</div>